sources/COPYING
sources/INSTALL
sources/Makefile
sources/Makefile.in
sources/aclocal.m4
sources/autom4te.cache/
sources/config.guess
sources/config.log
sources/config.status
sources/config.sub
sources/configure
sources/depcomp
sources/install-sh
sources/libjalali/.deps/
sources/libjalali/.libs/
sources/libjalali/Makefile
sources/libjalali/Makefile.in
sources/libjalali/jalali.lo
sources/libjalali/jalali.o
sources/libjalali/jtime.lo
sources/libjalali/jtime.o
sources/libjalali/libjalali.la
sources/libtool
sources/ltmain.sh
sources/m4/
sources/man/Makefile
sources/man/Makefile.in
sources/missing
sources/src/.deps/
sources/src/.libs/
sources/src/Makefile
sources/src/Makefile.in
sources/src/jcal
sources/src/jdate
sources/src/jcal.o
sources/src/jdate.o
test_kit/elc
test_kit/get_date
test_kit/get_diff
test_kit/jtime/asctime
test_kit/jtime/ctime
test_kit/jtime/gmtime
test_kit/jtime/jstrftime
test_kit/jtime/jstrptime
test_kit/jtime/localtime
test_kit/jtime/mktime
test_kit/jyinfo
test_kit/leap
test_kit/sec_converter
